examples/scene-to-multiple-switches.json
[{"id":"f651da8c.4816f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e23e089f.6aecb8","type":"inject","z":"f651da8c.4816f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":240,"wires":[["b38bd8b8.5a2af8"]]},{"id":"b38bd8b8.5a2af8","type":"inovelli-status-manager","z":"f651da8c.4816f8","name":"","nodeid":"","color":"107","level":10,"duration":30,"display":"2","x":910,"y":240,"wires":[["531f74fb.6c3d3c","7c297c51.a04874","b723e1f.8abd12","d010294e.c69128"]]},{"id":"531f74fb.6c3d3c","type":"api-call-service","z":"f651da8c.4816f8","name":"node 1","server":"","service_domain":"zwave","service":"set_config_parameter","data":"{ \"node_id\": 1 }","mergecontext":"","x":1150,"y":200,"wires":[[]]},{"id":"7c297c51.a04874","type":"api-call-service","z":"f651da8c.4816f8","name":"node 2","server":"","service_domain":"zwave","service":"set_config_parameter","data":"{ \"node_id\": 2 }","mergecontext":"","x":1150,"y":240,"wires":[[]]},{"id":"b723e1f.8abd12","type":"api-call-service","z":"f651da8c.4816f8","name":"node 3","server":"","service_domain":"zwave","service":"set_config_parameter","data":"{ \"node_id\": 1 }","mergecontext":"","x":1150,"y":280,"wires":[[]]},{"id":"d010294e.c69128","type":"api-call-service","z":"f651da8c.4816f8","name":"node 4","server":"","service_domain":"zwave","service":"set_config_parameter","data":"{ \"node_id\": 1 }","mergecontext":"","x":1150,"y":320,"wires":[[]]},{"id":"2f9b477.d2230b8","type":"comment","z":"f651da8c.4816f8","name":"","info":"Note: node id is not set on the status manager, it is set on the svc calls and the svc call only inherits the value and other params","x":860,"y":200,"wires":[]}]